<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mcq.kasun.acer.firebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="mcq.kasun.acer.firebase.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mcq.kasun.acer.firebase.Home"
            android:screenOrientation="portrait" />

        <activity
            android:name="mcq.kasun.acer.firebase.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="mcq.kasun.acer.firebase.UpdatePassword"
            android:screenOrientation="portrait" />

        <activity
            android:name="mcq.kasun.acer.firebase.RegistrationActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="mcq.kasun.acer.firebase.start"
            android:screenOrientation="portrait" />
        <activity
            android:name="mcq.kasun.acer.firebase.playing"
            android:screenOrientation="landscape" />
        <activity
            android:name="mcq.kasun.acer.firebase.showing"
            android:screenOrientation="landscape" />
        <activity
            android:name="mcq.kasun.acer.firebase.done"
            android:screenOrientation="portrait" />
        <activity android:name="mcq.kasun.acer.firebase.replyyy" />
        <activity android:name="mcq.kasun.acer.firebase.plynnotime" />
        <activity android:name="mcq.kasun.acer.firebase.popupp" />
        <activity
            android:name="mcq.kasun.acer.firebase.Choose"
            android:screenOrientation="portrait" />
        <activity
            android:name="mcq.kasun.acer.firebase.homepappers"
            android:screenOrientation="portrait" />
        <activity
            android:name="mcq.kasun.acer.firebase.scoreDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="mcq.kasun.acer.firebase.MyRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="mcq.kasun.acer.firebase.storagefirebase"
            android:screenOrientation="portrait" />
        <activity
            android:name="mcq.kasun.acer.firebase.yourranking"
            android:screenOrientation="portrait" />
        <activity
            android:name="mcq.kasun.acer.firebase.barchart"
            android:screenOrientation="landscape" />
        <activity
            android:name="mcq.kasun.acer.firebase.pastpapers"
            android:screenOrientation="portrait" />
        <activity
            android:name="mcq.kasun.acer.firebase.schoolpaperactivty"
            android:screenOrientation="portrait" />
        <activity
            android:name="mcq.kasun.acer.firebase.Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="mcq.kasun.acer.firebase.DownloadWebview"
            android:screenOrientation="portrait" />
        <activity android:name="mcq.kasun.acer.firebase.knokouts"></activity>
    </application>

</manifest>